/* animations.css */
.slide-enter,
.slide-exit {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-enter {
  max-height: 0;
  opacity: 0;
}

.slide-enter-active {
  max-height: 200px; /* Ajusta esta altura según tus necesidades */
  opacity: 1;
}

.slide-exit {
  max-height: 200px; /* Ajusta esta altura según tus necesidades */
  opacity: 1;
}

.slide-exit-active {
  max-height: 0;
  opacity: 0;
}
